$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #E0E0E0 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #b0b0b0 !default;
$gray-600: #828282 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900:  #4F4F4F !default;
$black: #000 !default;

$blue: #2F80ED !default;
$indigo: #3252df !default;
$purple: #8785FF !default;
$pink: #ff498b !default;
$red: #EB5757 !default;
$orange: #F2C94C !default;
$yellow: #F2C94C !default;
$green: #28a745 !default;
$teal: #1abc9c !default;
$cyan: #62C6BB !default;
